.cover {
    background-image: url("/asset/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;

    color: white;
}

.hyperlink img {
    width: 50%;
    padding-bottom: 1em;
}

.hyperlink div:hover {
    transform: scale(1.2);
    cursor: pointer;
}