<div class="row py-auto cloud">
  <div class="col-3 p-5">
    <img style="width: 100%;" src="../../assets/images/book/Climaterisk.jpg" />
    <h6 class="pt-2">THAILAND'S SECOND ASSESSMENT REPORT ON CLIMATE CHANGE 2016</h6 class="pt-2">
    <p>
      รายงานการสังเคราะห์และประมวลสถานภาพองค์ความรู้
      ด้านการเปลี่ยนแปลงภูมิอากาศของไทย ครั้งที่ 2
    </p>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
  </div>
  <div class="col-3 p-5">
    <img
      style="width: 100%;"
      src="../../assets/images/book/Thailand_Climate_Change_informationV3.jpg"
    />
    <h6 class="pt-2">THAILAND'S SECOND ASSESSMENT REPORT ON CLIMATE CHANGE 2016</h6 class="pt-2">
    <p>
      รายงานการสังเคราะห์และประมวลสถานภาพองค์ความรู้
      ด้านการเปลี่ยนแปลงภูมิอากาศของไทย ครั้งที่ 2
    </p>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
  </div>
  <div class="col-3 p-5">
    <img
      style="width: 100%;"
      src="../../assets/images/book/Thailands-first-assessment-report-on-climate-change-2011-volume-3.jpg"
    />
    <h6 class="pt-2">THAILAND'S SECOND ASSESSMENT REPORT ON CLIMATE CHANGE 2016</h6 class="pt-2">
    <p>
      รายงานการสังเคราะห์และประมวลสถานภาพองค์ความรู้
      ด้านการเปลี่ยนแปลงภูมิอากาศของไทย ครั้งที่ 2
    </p>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
  </div>
  <div class="col-3 p-5">
    <img
      style="width: 100%;"
      src="../../assets/images/book/กฎหมายกับการเปลี่ยนแปลง.jpg"
    />
    <h6 class="pt-2">THAILAND'S SECOND ASSESSMENT REPORT ON CLIMATE CHANGE 2016</h6 class="pt-2">
    <p>
      รายงานการสังเคราะห์และประมวลสถานภาพองค์ความรู้
      ด้านการเปลี่ยนแปลงภูมิอากาศของไทย ครั้งที่ 2
    </p>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
  </div>
</div>
