<div class="row">
    <div class="col-4 px-5 pt-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6>9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-4 px-5 pt-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6>9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-4 px-5 pt-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6>9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
</div>
<div class="row">
    <div class="col-4 px-5 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6>9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-4 px-5 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6>9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-4 px-5 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6>9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
</div>