<div class="row" style="padding-top: 2rem;">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6 class="pt-2">9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6 class="pt-2">
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6 class="pt-2">9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6 class="pt-2">
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6 class="pt-2">9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6 class="pt-2">
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6 class="pt-2">9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6 class="pt-2">
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6 class="pt-2">9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6 class="pt-2">
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3">
        <img style="width: 100%;" src="../../assets/images/articlecover.jpg">
        <h6 class="pt-2">9 NEW FEATURES อัพเดทใหม่ที่ต้องลองใน Excel 2016</h6 class="pt-2">
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small>
    </div>
</div>