<%- include('./includes/header.ejs') %> 
  </head>
  <body>
    <!-- #Nav -->
    <%- include('./includes/navbar.ejs') %> 
    <!-- #EndNav -->

    <!-- #Cover -->
    <section class="cover-about">
      <div class="container">
        <div class="row py-5 text-center">
          <div class="col">
            <h1>Who Are We</h1>
            <p>Our goals and mission</p>
          </div>
        </div>
      </div>
    </section>
    <!-- EndCover -->
    <%- include('./includes/footer.ejs') %> 