<%- include('./includes/header.ejs') %> 
  </head>
  <body>
    <!-- #Nav -->
    <%- include('./includes/navbar.ejs') %> 
    <!-- #EndNav -->

    <!-- #Cover -->
    <section class="cover-about">
      <div class="container">
        <div class="row py-5 text-center">
          <div class="col">
            <h1>Who Are We</h1>
            <p>Our goals and mission</p>
          </div>
        </div>
      </div>
    </section>
    <!-- EndCover -->

    <!-- #TextSection -->
    <section>
      <div class="container my-5">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-8 my-auto">
            <h2 style="font-weight: bolder;">ThaiGlob</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="col">
            <img src="../assets/images/project logo ใส.png" style="width: 75%; height: auto;">
          </div>
        </div>
      </div>
    </section>
    <!-- #endTextSection -->
    <%- include('./includes/footer.ejs') %> 