<%- include('./includes/header.ejs') %> <%- include('./includes/backtotop.ejs')
%>

<!-- #Cover -->
<div class="cover article">
	<div class="row" style="height: 100%;">
		<div class="my-auto innerText">
			<div class="covertitle">
				Articles and Infographics
				<p class="cloud">
					บทความและอินโฟกราฟฟิก
				</p>
			</div>
		</div>
	</div>
</div>

<!-- #EndCover -->

<div class="container">
	<div class="row my-3">
		<div class="col-6">
			<p>
				<a href="/" style="text-decoration: none; color: black;"
					>Home</a
				>
				>
				<span>
					<a
						href="/knowledge-corner"
						style="text-decoration: none; color: black;"
						>Knowledge Corner</a
					>
				</span>
				>
				<span>
					<a
						href="/articles"
						style="text-decoration: none; color: #28a745;"
						>Articles and Infographics
					</a>
				</span>
			</p>
		</div>
		<div class="col-6">
			<div class="row">
				<input
					class="form-control mx-3"
					type="search"
					placeholder="Search By Keyword"
					aria-label="Search"
					name="search"
					style="width: 80%;"
					id="filter"
				/>
				<button
					class="btn btn-outline-success my-2 my-sm-0"
					id="filter2"
				>
					Filter
				</button>
			</div>
		</div>
	</div>
</div>

<!-- #NewsBlock -->
<section style="height: 75vh;" id="before">
	<div class="row cloud" style="height: 100%;">
		<div class="my-auto mx-auto text-center">
			<div style="font-size: 2em;">
				ไม่พบบทความที่ท่านต้องการ
			</div>
			<br />
			<div style="font-size: 1.5em;">
				The article you're looking for is not available
			</div>
			<button
				class="btn btn-success mt-4"
				onclick="window.location.href='/articles'"
			>
				ย้อนกลับ
			</button>
		</div>
	</div>
</section>
<section class="mt-5" id="after">
	<div class="container">
		<div class="row" id="shelf"></div>
		<button
			class="btn btn-outline-dark cloud my-4 px-5"
			style="width: 100%;"
			id="show"
		>
			แสดงเพิ่มเติม <i class="fa fa-caret-down"></i>
		</button>
	</div>
</section>
<script>
	var skip = 0;
	var limit = 9;
	function getmore() {
		$.post(
			'articles/api',
			{
				query: $('#filter').val() || '',
				sortParams: '-date',
				skip: skip,
				limit: limit,
			},
			function (data, status) {
				if (data.length == 0) {
					$('#before').show();
					$('#after').hide();
				} else {
					$('#before').hide();
					$('#after').show();
					if (data.length < limit) {
						$('#show').hide();
					}
					skip = skip + limit;
					data.forEach((article) => {
						var html = `
					<div class="col-lg-4 col-md-6 py-4 px-5 booklist">
						<a href="/articles/${
							article._id
						}" class="postblock" style="text-decoration: none;">
					<img class="sevenfive" src="${
						article.imgPath
							? '/upload/' + article.imgPath
							: '/assets/images/demoarticle.jpg'
					}" />
					<div class="cloud">${article.title}</div>
					<small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${
						article.date.split('T')[0]
					}</small>
						</a>
					</div>
							`;
						$('#shelf').append(html);
					});
				}
			}
		);
	}
	$(document).ready(function () {
		$('#before').hide();
		getmore();
	});
	$('#show').click(getmore);
	$('#filter2').click(function () {
		skip = 0;
		limit = 9;
		$('#shelf').html('');
		getmore();
		$('#show').show();
	});
</script>
<!-- #EndNewsBlock -->

<%- include('./includes/footer.ejs')%>
