<%- include('./includes/header.ejs') %>

<!-- #Cover -->
<!-- <section> -->
<div class="covershow">
  <div class="row m-0">
    <div id="homecover" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="pagination">
        <li data-target="#homecover" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner" id="carousel">
        <div class="carousel-item active cover home">
          <div class="container" style="height: 100%;">
            <div class="row">
              <div class="my-auto mx-3 mx-lg-0">
                <h1>THAI-GLOB</h1>
                <h2 class="cloud">ศูนย์ประสานงานและพัฒนางานวิจัยด้านโลกร้อนและการเปลี่ยนแปลงสภาพภูมิอากาศ</h2>
                <p>ภายใต้การสนับสนุนจากสำนักงานคณะกรรมการส่งเสริมวิทยาศาสตร์วิจัยและนวัตกรรม (สกสว.)
                </p>
                <button class="btn btn-success cloud px-4 py-2" style="font-size: 1.2em;"
                  onclick="window.location.href='/about'">ทำความรู้จักเรา</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $.get('/carousel/api', function (data) {
          data.forEach((el, i) => {
            if (el.type == 0) {
              var html = `<div class="carousel-item cover" style="background-image: url('/upload/${el.imgPath}'); background-color: rgba(99, 99, 99, 0.836);
	background-blend-mode: multiply;">
                            
                              <div class="container" style="height: 100%;">
                                <div class="row">
                              <div class="my-auto mx-3 mx-lg-0 cloud">
                                <h1>${el.header}</h1>
                                <h2 class="cloud">${el.subHeader}</h2>
                                <p>${el.desc}</p>
                                <button
                                  class="btn btn-success cloud px-4 py-2"
                                  style="font-size: 1.2em;"
                                  onclick="window.location.href='${el.ctaLink}'"
                                >
                                  ${el.ctaText}
                                </button>
                              </div>
                              </div>
                            </div>
                          </div>`
            } else {
              var html = `<div class="carousel-item cover poster-highlight" style="background-image: url('/upload/${el.imgPath}');" onclick="window.location.href='${el.ctaLink}'">
                          </div>`
            }
            $('#carousel').append(html);
            $('#pagination').append(`<li data-target="#homecover" data-slide-to="${i}"></li>`);
          });
        })
      </script>

      <a class="carousel-control-prev" href="#homecover" role="button" data-slide="prev" style="width: 5rem;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <!-- <span class="sr-only">Prev</span> -->

        <a class="carousel-control-next" href="#homecover" role="button" data-slide="next" style="width: 5rem;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <!-- <span class="sr-only">Next</span> -->

        </a>
    </div>
  </div>
</div>
<!-- </section> -->
<!-- EndCover -->

<!-- #HyperLinked -->
<section>
  <div class="container">
    <div class="row justify-content-center hyperlink text-center my-5">
      <a class="col-md-3 col-sm-12" href="/research">
        <img src="../assets/images/projects.png" />
        <h4>Research Projects</h4>
        <p>โครงการวิจัย</p>
      </a>
      <a class="col-md-3 col-sm-12" href="/knowledge-corner">
        <img src="../assets/images/knowledge.png" />
        <h4>Knowledge Corner</h4>
        <p>มุมความรู้<br>
          ด้านการเปลี่ยนแปลงภูมิอากาศ</p>
      </a>
      <a class="col-md-3 col-sm-12" href="/about">
        <img src="../assets/images/connect.png" />
        <h4>About Us</h4>
        <p>เกี่ยวกับเรา</p>
      </a>
      <a class="col-md-3 col-sm-12" href="/contact">
        <img src="../assets/images/issues.png" />
        <h4>Contact Us</h4>
        <p>ติดต่อเรา</p>
      </a>
    </div>
  </div>
</section>
<!-- #EndHyperLinked -->

<!-- Update tab -->
<section class="mb-0">
  <div class="row">
    <div class="tab cloud" openTab(event, 'Book' )>
      <button class="tablinks active" onclick="openTab(event, 'Book')">
        <img src="/assets/images/tabicon/book.png" />หนังสือและสิ่งพิมพ์</button>
      <button class="tablinks" onclick="openTab(event, 'Article')"><img
          src="/assets/images/tabicon/info.png" />บทความและอินโฟกราฟิก</button>
      <button class="tablinks" onclick="openTab(event, 'Media')"><img
          src="/assets/images/tabicon/media.png" />สื่อมัลติมีเดีย</button>
      <button class="tablinks" onclick="openTab(event, 'News')"><img
          src="/assets/images/tabicon/news.png" />ข่าวสาร</button>
      <button class="tablinks" onclick="openTab(event, 'Event')"><img
          src="/assets/images/tabicon/event.png" />งานกิจกรรมต่างๆ</button>
      <div class="btn btn-success cloud px-3 py-2 mt-3 mb-0" style="font-size: 1.1em;"
        onclick="window.location.href='/knowledge-corner'">แสดงทั้งหมด</div>
    </div>
    <script>
      $.post(
        'publication/api', {
          query: $('#filter').val() || '',
          sortParams: '-date',
          skip: 0,
          limit: 4,
        },
        function (data, status) {
          console.log(moment(data[0].date).format('DD-MM-YYYY'))
          var html = `
<div class="row py-auto">`
          if (typeof data[0] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[0].dlPath}" target="_blank">
    <img style="width: 100%;" src="${data[0].imgPath?'/upload/' + data[0].imgPath:'/assets/images/210x297.jpg' }" />
    <h5 class="pt-2 quarkbold">${data[0].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[0].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          } else {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    ไม่พบเนื้อหาดังกล่าว
  </div>
  `
          }
          if (typeof data[1] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[1].dlPath}" target="_blank">
    <img
      style="width: 100%;"
      src="${data[1].imgPath?'/upload/' + data[1].imgPath:'/assets/images/210x297.jpg' }"
    />
    <h5 class="pt-2 quarkbold">${data[1].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[1].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          }
          if (typeof data[2] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[2].dlPath}" target="_blank">
    <img
      style="width: 100%;"
      src="${data[2].imgPath?'/upload/' + data[2].imgPath:'/assets/images/210x297.jpg' }"
    />
    <h5 class="pt-2 quarkbold">${data[2].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[2].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          }
          if (typeof data[3] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[3].dlPath}" target="_blank">
    <img
      style="width: 100%;"
      src="${data[3].imgPath?'/upload/' + data[3].imgPath:'/assets/images/210x297.jpg' }"
    />
    <h5 class="pt-2 quarkbold">${data[3].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[3].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          }
          html += `
</div>
          `;
          $('#Book').append(html);
        }
      );
      $.post(
        'articles/api', {
          query: $('#filter').val() || '',
          sortParams: '-date',
          skip: 0,
          limit: 6,
        },
        function (data, status) {
          var html = `
<div class="row" style="padding-top: 2rem;">
  `
          if (typeof data[0] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/articles/${data[0]._id}">
        <img style="width: 100%;" src="${data[0].imgPath?'/upload/' + data[0].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[0].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[0].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          } else {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    ไม่พบเนื้อหาดังกล่าว
  </div>
  `
          }
          if (typeof data[1] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/articles/${data[1]._id}">
        <img style="width: 100%;" src="${data[1].imgPath?'/upload/' + data[1].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[1].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[1].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[2] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/articles/${data[2]._id}">
        <img style="width: 100%;" src="${data[2].imgPath?'/upload/' + data[2].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[2].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[2].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[3] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/articles/${data[3]._id}">
        <img style="width: 100%;" src="${data[3].imgPath?'/upload/' + data[3].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[3].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[3].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[4] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/articles/${data[4]._id}">
        <img style="width: 100%;" src="${data[4].imgPath?'/upload/' + data[4].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[4].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[4].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[5] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/articles/${data[5]._id}">
        <img style="width: 100%;" src="${data[5].imgPath?'/upload/' + data[5].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[5].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[5].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }

          html += `
</div>
          `;
          $('#Article').append(html);
        }
      );
      $.post(
        'media/api', {
          query: $('#filter').val() || '',
          sortParams: '-date',
          skip: 0,
          limit: 6,
        },
        function (data, status) {
          var html = `
<div class="row" style="padding-top: 2rem;">
  `
          if (typeof data[0] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/media/${data[0]._id}">
        <img style="width: 100%;" src="${data[0].imgPath?'/upload/' + data[0].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[0].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[0].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          } else {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    ไม่พบเนื้อหาดังกล่าว
  </div>
  `
          }
          if (typeof data[1] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/media/${data[1]._id}">
        <img style="width: 100%;" src="${data[1].imgPath?'/upload/' + data[1].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[1].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[1].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[2] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/media/${data[2]._id}">
        <img style="width: 100%;" src="${data[2].imgPath?'/upload/' + data[2].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[2].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[2].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[3] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/media/${data[3]._id}">
        <img style="width: 100%;" src="${data[3].imgPath?'/upload/' + data[3].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[3].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[3].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[4] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/media/${data[4]._id}">
        <img style="width: 100%;" src="${data[4].imgPath?'/upload/' + data[4].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[4].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[4].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }
          if (typeof data[5] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/media/${data[5]._id}">
        <img style="width: 100%;" src="${data[5].imgPath?'/upload/' + data[5].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[5].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[5].date).format('DD-MM-YYYY')}</small></a>
    </div>
    `
          }

          html += `
</div>
          `;
          $('#Media').append(html);
        }
      );
      $.post(
        'news/api', {
          query: $('#filter').val() || '',
          sortParams: '-date',
          skip: 0,
          limit: 6,
        },
        function (data, status) {
          var html = `
<div class="row" style="padding-top: 2rem;">
  `
          if (typeof data[0] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/news/${data[0]._id}">
        <img style="width: 100%;" src="${data[0].imgPath?'/upload/' + data[0].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[0].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[0].date).format('DD-MM-YYYY')}</small></a>
    </div>`
          } else {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    ไม่พบเนื้อหาดังกล่าว
  </div>
  `
          }
          if (typeof data[1] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/news/${data[1]._id}">
        <img style="width: 100%;" src="${data[1].imgPath?'/upload/' + data[1].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[1].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[1].date).format('DD-MM-YYYY')}</small></a>
    </div>`
          }
          if (typeof data[2] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/news/${data[2]._id}">
        <img style="width: 100%;" src="${data[2].imgPath?'/upload/' + data[2].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[2].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[2].date).format('DD-MM-YYYY')}</small></a>
    </div>`
          }
          if (typeof data[3] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/news/${data[3]._id}">
        <img style="width: 100%;" src="${data[3].imgPath?'/upload/' + data[3].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[3].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[3].date).format('DD-MM-YYYY')}</small></a>
    </div>`
          }
          if (typeof data[4] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/news/${data[4]._id}">
        <img style="width: 100%;" src="${data[4].imgPath?'/upload/' + data[4].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[4].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[4].date).format('DD-MM-YYYY')}</small></a>
    </div>`
          }
          if (typeof data[5] != "undefined") {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 pb-3 ">
      <a href="/news/${data[5]._id}">
        <img style="width: 100%;" src="${data[5].imgPath?'/upload/' + data[5].imgPath:'/assets/images/800x600.jpg' }">
        <h5 class="pt-2 quarkbold">${data[5].title}</h5>
        <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[5].date).format('DD-MM-YYYY')}</small></a>
    </div>`
          }
          html += `
</div>
          `;
          $('#News').append(html);
        }
      );
      $.post(
        'events/api', {
          query: $('#filter').val() || '',
          sortParams: '-date',
          skip: 0,
          limit: 4,
        },
        function (data, status) {
          var html = `
<div class="row py-auto">`
          if (typeof data[0] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[0].dlPath}" target="_blank">
    <img style="width: 100%;" src="${data[0].imgPath?'/upload/' + data[0].imgPath:'/assets/images/210x297.jpg' }" />
    <h5 class="pt-2 quarkbold">${data[0].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[0].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          } else {
            html += `
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    ไม่พบเนื้อหาดังกล่าว
  </div>
  `
          }
          if (typeof data[1] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[1].dlPath}" target="_blank">
    <img
      style="width: 100%;"
      src="${data[1].imgPath?'/upload/' + data[1].imgPath:'/assets/images/210x297.jpg' }"
    />
    <h5 class="pt-2 quarkbold">${data[1].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[1].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          }
          if (typeof data[2] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[2].dlPath}" target="_blank">
    <img
      style="width: 100%;"
      src="${data[2].imgPath?'/upload/' + data[2].imgPath:'/assets/images/210x297.jpg' }"
    />
    <h5 class="pt-2 quarkbold">${data[2].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[2].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          }
          if (typeof data[3] != "undefined") {
            html += `
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 py-5">
    <a href="/upload/${data[3].dlPath}" target="_blank">
    <img
      style="width: 100%;"
      src="${data[3].imgPath?'/upload/' + data[3].imgPath:'/assets/images/210x297.jpg' }"
    />
    <h5 class="pt-2 quarkbold">${data[3].title}</h5>
    <small class="date"><i class="fa fa-clock-o"></i>&nbsp; ${moment(data[3].date).format('DD-MM-YYYY')}</small></a>
  </div>
  `
          }
          html += `
</div>
          `;
          $('#Event').append(html);
        }
      );
    </script>
    <div id="Book" class="tabcontent" style="display: block;">
      <a class="showmore cloud" href="/publication">แสดงเพิ่มเติม</a>
    </div>
    <div id="Article" class="tabcontent" style="display: none;">
      <a class="showmore cloud" href="/articles">แสดงเพิ่มเติม</a>
    </div>
    <div id="Media" class="tabcontent" style="display: none;">
      <a class="showmore cloud" href="/media ">แสดงเพิ่มเติม</a>
    </div>
    <div id="News" class="tabcontent" style="display: none;">
      <a class="showmore cloud" href="/news ">แสดงเพิ่มเติม</a>
    </div>
    <div id="Event" class="tabcontent" style="display: none;">
      <a class="showmore cloud" href="/events">แสดงเพิ่มเติม</a>
    </div>
  </div>
</section>
<!-- End update -->
<script type="text/javascript">

  function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
<%- include('./includes/footer.ejs') %>