<%- include('./includes/header.ejs') %> 
</head>
	<body>
		<!-- #Nav -->
		<%- include('./includes/navbar.ejs') %> 
		<!-- #EndNav -->

		<!-- #Cover -->
		<div class="cover-home">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-8">
						<div class="row">
							<h1>
								THAI-GLOB
							</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Curabitur ultrices odio turpis,
								sit amet sagittis lectus mattis vel. Integer
								ante elit, volutpat a fringilla nec, mollis
								posuere enim. Ut id enim risus. Cras gravida
								enim vel sapien cursus, sit amet suscipit tortor
								placerat. In ullamcorper erat non odio egestas
								pellentesque. Etiam aliquam bibendum mi a
								tempus. Nullam nisi erat, tincidunt quis
								venenatis egestas, convallis tempor orci.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- EndCover -->

		<!-- #HyperLinked -->
		<section>
			<div class="container">
				<div
					class="row justify-content-center hyperlink text-center my-5"
				>
					<a class="col-md-3 col-sm-12" href="book.html">
						<img src="../assets/images/book.png" />
						<h4>Publications</h4>
						<p>A selection of Publications</p>
					</a>
					<a class="col-md-3 col-sm-12">
						<img src="../assets/images/news.png" />
						<h4>News</h4>
						<p>Latest News</p>
					</a>
					<a class="col-md-3 col-sm-12">
						<img src="../assets/images/article.png" />
						<h4>Articles</h4>
						<p>Our articles</p>
					</a>
					<a class="col-md-3 col-sm-12">
						<img src="../assets/images/event.png" />
						<h4>Events</h4>
						<p>View our events</p>
					</a>
				</div>
			</div>
		</section>
		<!-- #EndHyperLinked -->
<%- include('./includes/footer.ejs') %> 
