<%- include('./includes/header.ejs') %>

<!-- #Cover -->
<div class="cover issue">
  <div class="row" style="height: 100%;">
    <div class="my-auto innerText">
      <div class="covertitle">
        Research Issues
        <p class="cloud">
          ประเด็นวิจัย
        </p>
      </div>
    </div>
  </div>
</div>
<!-- #EndCover -->
<div class="container">
  <p class="my-3">
    <a href="/" style="text-decoration: none; color: black;">Home</a>
    >
    <span>
      <a href="/research-issues" style="text-decoration: none; color: #28a745;"
        >Research Issues</a
      >
    </span>
  </p>
</div>
<!-- image row -->
<section>
  <div class="container">
    <div class="row py-4 px-3">
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/1.jpg" />
        <p class="pt-3 px-3 cloud">
          การจัดการความเสี่ยงจากความแปรปรวนและการกระจายตัวของฝน
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/2.jpg" />
        <p class="pt-3 px-3 cloud">แบบจำลองการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/3.jpg" />
        <p class="pt-3 px-3 cloud">ผลกระทบจากการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/4.jpg" />
        <p class="pt-3 px-3 cloud">เครื่องมือและกลไกการจัดการปัญหา</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/1.jpg" />
        <p class="pt-3 px-3 cloud">
          การจัดการความเสี่ยงจากความแปรปรวนและการกระจายตัวของฝน
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/2.jpg" />
        <p class="pt-3 px-3 cloud">แบบจำลองการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/3.jpg" />
        <p class="pt-3 px-3 cloud">ผลกระทบจากการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/4.jpg" />
        <p class="pt-3 px-3 cloud">เครื่องมือและกลไกการจัดการปัญหา</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/1.jpg" />
        <p class="pt-3 px-3 cloud">
          การจัดการความเสี่ยงจากความแปรปรวนและการกระจายตัวของฝน
        </p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/2.jpg" />
        <p class="pt-3 px-3 cloud">แบบจำลองการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/3.jpg" />
        <p class="pt-3 px-3 cloud">ผลกระทบจากการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 py-4 px-4 text-center issue">
        <img src="../assets/images/research_issue/4.jpg" />
        <p class="pt-3 px-3 cloud">เครื่องมือและกลไกการจัดการปัญหา</p>
      </div>
    </div>
  </div>
</section>
<!-- end image row -->
<%- include('./includes/footer.ejs')%>
