<%- include('./includes/header.ejs') %>

<!-- #Cover -->
<div class="cover corner">
  <div class="row" style="height: 100%;">
    <div class="my-auto innerText">
      <div class="covertitle">
        Research Issues
        <p class="cloud">
          ประเด็นวิจัย
        </p>
      </div>
    </div>
  </div>
</div>
<!-- #EndCover -->
<div class="container">
  <p class="my-3">
    <a href="/" style="text-decoration: none; color: black;">Home</a>
    >
    <span>
      <a href="/knowledge-corner" style="text-decoration: none; color: #28a745;"
        >Knowledge Corner</a
      >
    </span>
  </p>
</div>

<!-- Publication -->
<section class="py-4">
  <div class="container corner">
    <h2>Publication</h2>
    <p class="cloud">หนังสือและสิ่งพิมพ์</p>
    <div class="row cloud">
      <div class="col-4">
        <img src="../assets/images/book/Climaterisk.jpg" />
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col py-3">
            <div style="font-size: 2em; font-weight: 500;">
              โลกสามศูนย์ (A World of Three Zeros)
            </div>
            <small class="date"
              ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
            >
          </div>
          <div class="row mx-auto" style="width: 100%;">
            <div class="col-4 px-4">
              <img src="../assets/images/book/กฎหมายกับการเปลี่ยนแปลง.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
              >
            </div>
            <div class="col-4 px-4">
              <img src="../assets/images/book/Glogal_warming_forum.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
              >
            </div>
            <div class="col-4 px-4">
              <img src="../assets/images/book/การปรับตัว.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark cloud my-4">
      แสดงทั้งหมด <i class="fa fa-caret-down"></i>
    </button>
  </div>
</section>

<!-- Infographic -->
<section class="gry py-4">
  <div class="corner container">
    <h2>Articles and Infographics</h2>
    <p class="cloud">บทความและอินโฟกราฟฟิก</p>
    <div class="row cloud">
      <div class="col-4">
        <img src="../assets/images/book/Glogal_warming_forum.jpg" />
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col py-3">
            <div style="font-size: 2em; font-weight: 500;">
              ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน
            </div>
            <small class="date"
              ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
            >
          </div>
          <div class="row mx-auto" style="width: 100%;">
            <div class="col-4 px-4">
              <img src="../assets/images/book/รายงานIPCC_TARC.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
              >
            </div>
            <div class="col-4 px-4">
              <img
                src="../assets/images/book/Thailands-first-assessment-report-on-climate-change-2011-volume-2.jpg"
              />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
              >
            </div>
            <div class="col-4 px-4">
              <img src="../assets/images/book/58.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark cloud my-4">
      แสดงทั้งหมด <i class="fa fa-caret-down"></i>
    </button>
  </div>
</section>

<!-- Multimedia -->
<section class="py-4">
  <div class="corner container">
    <h2>Multimedia</h2>
    <p class="cloud">สื่อมัลติมีเดีย</p>
    <div class="row cloud">
      <div class="col-9">
        <img src="../assets/images/mediacover.jpg" />
        <div style="font-size: 2em; font-weight: 500;">
          "Google Docs" เครื่องมือจัดการเอกสารที่ดีที่สุด
        </div>
        <small class="date"
          ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
        >
      </div>
      <div class="col-3">
        <div class="row">
            <img src="../assets/images/articlecover.jpg" />
            <div>
              เปรียบเทียบ Excel Power BI และ Power BI Desktop
            </div>
            <small class="date"
              ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
            >
        </div>
        <div class="row">
          <img src="../assets/images/newscover.jpg" />
          <div>
            เปรียบเทียบ Excel Power BI และ Power BI Desktop
          </div>
          <small class="date"
            ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
          >
      </div>
      </div>
    </div>
    <button class="btn btn-outline-dark cloud my-4">
      แสดงทั้งหมด <i class="fa fa-caret-down"></i>
    </button>
  </div>
</section>

<!-- Climate news -->
<section class="gry py-4">
  <div class="corner container">
    <h2>Climate Change News</h2>
    <p class="cloud">ข่าวสารการเปลี่ยนแปลงสภาพภูมิอากาศ</p>
    <div class="row cloud">
      <div class="col-9">
        <img src="../assets/images/research_issue/2.jpg" />
        <div style="font-size: 2em; font-weight: 500;">
          "Google Docs" เครื่องมือจัดการเอกสารที่ดีที่สุด
        </div>
        <small class="date"
          ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
        >
      </div>
      <div class="col-3">
        <div class="row">
            <img src="../assets/images/research_issue/4.jpg" />
            <div>
              เปรียบเทียบ Excel Power BI และ Power BI Desktop
            </div>
            <small class="date"
              ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
            >
        </div>
        <div class="row">
          <img src="../assets/images/research_issue/1.jpg" />
          <div>
            เปรียบเทียบ Excel Power BI และ Power BI Desktop
          </div>
          <small class="date"
            ><i class="fa fa-clock-o"></i>&nbsp; 05-04-2012</small
          >
      </div>
      </div>
    </div>
    <button class="btn btn-outline-dark cloud my-4">
      แสดงทั้งหมด <i class="fa fa-caret-down"></i>
    </button>
  </div>
</section>

<!-- Event -->
<section class="py-4">
  <div class="container corner">
    <h2>Events</h2>
    <p class="cloud">งานกิจกรรมต่างๆ</p>
    <div class="row cloud">
      <div class="col-4">
        <img src="../assets/images/book/Climaterisk.jpg" />
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col py-3">
            <div style="font-size: 2em; font-weight: 500;">
              โลกสามศูนย์ (A World of Three Zeros)
            </div>
            <small class="date"
                >28/03/2563</small
              >
          </div>
          <div class="row mx-auto" style="width: 100%;">
            <div class="col-4 px-4">
              <img src="../assets/images/book/กฎหมายกับการเปลี่ยนแปลง.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                >28/03/2563</small
              >
            </div>
            <div class="col-4 px-4">
              <img src="../assets/images/book/Glogal_warming_forum.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                >28/03/2563</small
              >
            </div>
            <div class="col-4 px-4">
              <img src="../assets/images/book/การปรับตัว.jpg" />
              <div>ทักษะความเข้าใจและใช้เทคโนโลยีดิจิทัล 9 ด้าน</div>
              <small class="date"
                >28/03/2563</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark cloud my-4">
      แสดงทั้งหมด <i class="fa fa-caret-down"></i>
    </button>
  </div>
</section>

<%- include('./includes/footer.ejs') %>
