<%- include('./includes/header.ejs') %> 

    <!-- #Cover -->
    <section style="background-image: url("../images/climatecover.jpg")">
      <div style="height: 300px;">
      </div>
    </section>
    <!-- EndCover -->

    <!-- #PostSection -->
    <section>
      <div class="container my-5">
        <div class="row">
          <div class="post-header my-5">
              <small>CATEGORY</small>
              <h1>Post Title</h1>
              <small>TAG</small>
          </div>
        </div>
        <div class="row d-flex flex-row-reverse">
            <div class="col-sm-12 col-md-10">
                <p>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Curabitur ultrices odio turpis,
                    sit amet sagittis lectus mattis vel. Integer
                    ante elit, volutpat a fringilla nec, mollis
                    posuere enim. Ut id enim risus. Cras gravida
                    enim vel sapien cursus, sit amet suscipit tortor
                    placerat. In ullamcorper erat non odio egestas
                    pellentesque. Etiam aliquam bibendum mi a
                    tempus. Nullam nisi erat, tincidunt quis
                    venenatis egestas, convallis tempor orci.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Curabitur ultrices odio turpis,
                    sit amet sagittis lectus mattis vel. Integer
                    ante elit, volutpat a fringilla nec, mollis
                    posuere enim. Ut id enim risus. Cras gravida
                    enim vel sapien cursus, sit amet suscipit tortor
                    placerat. In ullamcorper erat non odio egestas
                    pellentesque. Etiam aliquam bibendum mi a
                    tempus. Nullam nisi erat, tincidunt quis
                    venenatis egestas, convallis tempor orci.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Curabitur ultrices odio turpis,
                    sit amet sagittis lectus mattis vel. Integer
                    ante elit, volutpat a fringilla nec, mollis
                    posuere enim. Ut id enim risus. Cras gravida
                    enim vel sapien cursus, sit amet suscipit tortor
                    placerat. In ullamcorper erat non odio egestas
                    pellentesque. Etiam aliquam bibendum mi a
                    tempus. Nullam nisi erat, tincidunt quis
                    venenatis egestas, convallis tempor orci.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Curabitur ultrices odio turpis,
                    sit amet sagittis lectus mattis vel. Integer
                    ante elit, volutpat a fringilla nec, mollis
                    posuere enim. Ut id enim risus. Cras gravida
                    enim vel sapien cursus, sit amet suscipit tortor
                    placerat. In ullamcorper erat non odio egestas
                    pellentesque. Etiam aliquam bibendum mi a
                    tempus. Nullam nisi erat, tincidunt quis
                    venenatis egestas, convallis tempor orci.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <div>
                    <img src="../assets/images/author-img.png" style="width: 100%;">
                    <p>Author Name</p>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- #endPostSection -->
    <%- include('./includes/footer.ejs') %> 