<%- include('../header') %>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/assets/css/tagsinput.css">
<style>
    .ql-editor {
        min-height: 400px;
        width: 100%;
    }

    .ql-container,
    .ql-toolbar {
        background-color: white;
    }
    .ql-editor iframe {
    pointer-events: none;
}
</style>
</head>

<body>
    <%- include('../navbar') %>
    <div style="background-color: #E8E8EE;">
        <div class="container">
            <div class="cloud py-4">
                <h2>เขียนบทความ</h2>
                <p>Article and Infographics</p>
            </div>
            <div>
                <form action="/articles/create" method="POST" enctype="multipart/form-data" id="create">
                    <div class="form-group">
                        <label for="title">หัวเรื่องบทความ</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="desc">เรื่องย่อบทความ</label>
                        <input type="text" class="form-control" id="desc" name="desc" required>
                    </div>
                    <div class="form-group">
                        <label for="author">ผู้เขียนบทความ</label>
                        <input type="text" class="form-control" id="author" name="author" required>
                    </div>
                    <div class="form-group">
                        <label for="body">เนื้อหาบทความ</label>
                        <div>
                            <div id="toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-font"></select>
                                    <select class="ql-size"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-header" value="1"></button>
                                    <button class="ql-header" value="2"></button>
                                    <button class="ql-blockquote"></button>
                                    <button class="ql-code-block"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-indent" value="-1"></button>
                                    <button class="ql-indent" value="+1"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-direction" value="rtl"></button>
                                    <select class="ql-align"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                    <button class="ql-image"></button>
                                    <button class="ql-video"></button>
                                    <button class="ql-formula"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-clean"></button>
                                </span>
                            </div>
                            <div class="mx-auto" id="editor"></div>

                        </div>

                        <input type="hidden" class="form-control" id="body" name="body">
                    </div>
                    <div class="form-row">
                        <div class="col date" data-provide="datepicker" id="datetimePicker">
                            <label for="date">วันที่</label>
                            <input type="text" class="form-control" id="date" name="date" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <div class="col">
                            <label for="files">รูปภาพหน้าปกบทความ</label>
                            <input type="file" class="form-control-file" id="files" name="files" accept="image/*">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="tag">แท็ก</label>
                        <input type="text" class="form-control" id="tag" name="tag"  data-role="tagsinput" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    <div class="alert alert-success mt-3" role="alert" id="Formsuccess" style="display: none;"></div>
                    <div class="alert alert-primary mt-3" role="alert" id="FormUploading" style="display: none;"></div>
                    <div class="alert alert-danger mt-3" role="alert" id="FormFailed" style="display: none;">
                    </div>
                </form>
            </div>


        </div>
        <!-- Optional JavaScript -->
        <%- include('../footer') %>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
        </script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="/assets/js/resize.js"></script>
        <script src="/assets/js/quill.imageUploader.min.js"></script>
        <script src="/assets/js/moment.js"></script>    
        <script src="/assets/js/tagsinput.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            Quill.register("modules/imageUploader", ImageUploader);
            Quill.register('modules/blotFormatter', QuillBlotFormatter.default);         
            var editor = new Quill('#editor', {
                modules: {
                    toolbar: '#toolbar-container',
                    resize: {},
                    imageUploader: {
                        upload: file => {
                            return new Promise((resolve, reject) => {
                                const formData = new FormData();
                                formData.append("files", file);

                                fetch(
                                        "/upload/quill", {
                                            method: "POST",
                                            body: formData
                                        }
                                    )
                                    .then(response => response.json())
                                    .then(result => {
                                        resolve('/upload/' + result);
                                    })
                                    .catch(error => {
                                        reject("Upload failed");
                                        console.error("Error:", error);
                                    });
                            });
                        }
                    },
                },
                theme: 'snow',
            });
            editor.on('text-change', function () {
                var justHtml = editor.root.innerHTML;
                $("#body").val(justHtml);
            });
            $(function () {
                $('#datetimePicker').datepicker({
                    format: 'dd/mm/yyyy',
                });
            });
            $('#create').submit(function (e) {
                e.preventDefault();
                $("#tag").val($("#tag").tagsinput('items'));
                $('#FormUploading').html('Uploading').fadeIn('slow');
                $.ajax({
                    url: '/articles/create',
                    type: 'post',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function () {
                        $('#FormUploading').delay(50).fadeOut('slow');
                        $('#Formsuccess').html('Success').fadeIn('slow');
                        $('#Formsuccess').delay(1000).fadeOut('slow');
                        $('#Formsuccess').delay(1100).queue(function() {
                            location.reload();
                            $(this).dequeue();
                        });
                    },
                    error: function () {
                        $('#FormUploading').delay(50).fadeOut('slow');
                        $('#FormFailed').html('Error. Please try again.').fadeIn('slow');
                        $('#FormFailed').delay(2000).queue(function() {
                            location.reload();
                            $(this).dequeue();
                        });
                    }
                });
            });
        </script>
        <hr>
    </div>
    <div class="container">
        <div class="cloud my-4">
            <h2>แก้ไขบทความ</h2>
        </div>
        <table id="editTable">

        </table>
        <script>
            
            $(document).ready(function () {
                $.post(
                    '/articles/api', {
                        query: '',
                        sortParams: '-date',
                        skip: 0,
                        limit: 0,
                    },
                    function (data, status) {
                        $("#editTable").dataTable({
                            "data": data,
                            "columns": [{
                                    data: "title",
                                    title: "ชื่อบทความ"
                                },
                                {
                                    data: "date",
                                    title: "เวลาที่เผยแพร่"
                                },
                            ],
                            "aoColumnDefs": [{
                                "aTargets": [2],
                                "mData": "_id",
                                "sTitle": "Edit/Delete",
                                "mRender": function (data, type, full) {
                                    return '<a class="btn btn-primary mx-3" href="/admin/article/' +
                                        data +
                                        '/edit">Edit</a><button class="btn btn-danger mx-3 deletebtn" data="'+data+'">Delete</button>';
                                }
                            }]
                        });
                    }
                );
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $('.deletebtn').click(function(){
                        var x = $(this).attr('data');
                        $.ajax({
                            url: `/articles/${x}/delete`,
                            type: 'delete',
                            processData: false,
                            contentType: false,
                            success: function () {
                                location.reload();
                            },
                        });
                    })
                }, 1000);
            });
        </script>
    </div>

</body>

</html>