<%- include('../header') %>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/assets/css/tagsinput.css">
<style>
    .ql-editor {
        min-height: 400px;
        width: 100%;
    }

    .ql-container,
    .ql-toolbar {
        background-color: white;
    }
</style>
</head>

<body>
    <%- include('../navbar') %>
    <div style="background-color: #E8E8EE;">
        <div class="container">
            <div class="cloud py-4">
                <h2>อัพโหลดหนังสือและสิ่งพิมพ์</h2>
                <p>Publications</p>
            </div>
            <div>
                <form action="/articles/create" method="POST" enctype="multipart/form-data" id="create">
                    <div class="form-group">
                        <label for="title">ชื่อหนังสือ</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <div class="date" data-provide="datepicker" id="datetimePicker">
                            <label for="date">วันที่</label>
                            <input type="text" class="form-control" id="date" name="date" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="files">รูปภาพหน้าปกหนังสือ</label>
                        <input type="file" class="form-control-file" id="files" name="files" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label for="files2">ไฟล์หนังสือ</label>
                        <input type="file" class="form-control-file" id="files2" name="files" required>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    <div class="alert alert-success mt-3" role="alert" id="Formsuccess" style="display: none;"></div>
                    <div class="alert alert-primary mt-3" role="alert" id="FormUploading" style="display: none;"></div>
                    <div class="alert alert-danger mt-3" role="alert" id="FormFailed" style="display: none;">
                    </div>
                </form>
            </div>


        </div>
        <!-- Optional JavaScript -->
        <%- include('../footer') %>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
        </script>
        <script src="/assets/js/moment.js"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            $('#create').submit(function (e) {
                e.preventDefault();
                $('#FormUploading').html('Uploading').fadeIn('slow');

                $.ajax({
                    url: '/publication/create',
                    type: 'post',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function () {
                        $('#FormUploading').delay(50).fadeOut('slow');
                        $('#Formsuccess').html('Success').fadeIn('slow');
                        $('#Formsuccess').delay(1000).fadeOut('slow');
                        $('#Formsuccess').delay(1100).queue(function() {
                            location.reload();
                            $(this).dequeue();
                        });
                    },
                    error: function () {
                        $('#FormUploading').delay(50).fadeOut('slow');
                        $('#FormFailed').html('Error. Please try again.').fadeIn('slow');
                        $('#FormFailed').delay(2000).queue(function() {
                            location.reload();
                            $(this).dequeue();
                        });
                    }
                });
            });
        </script>
        <hr>
    </div>
    <div class="container">
        <div class="cloud my-4">
            <h2>แก้ไขบทความ</h2>
        </div>
        <table id="editTable">

        </table>
        <script>
            $(function () {
                $('#datetimePicker').datepicker({
                    format: 'dd/mm/yyyy',
                });
            });
            $(document).ready(function () {
                $.post(
                    '/publication/api', {
                        query: '',
                        sortParams: '-date',
                        skip: 0,
                        limit: 0,
                    },
                    function (data, status) {
                        $("#editTable").dataTable({
                            "data": data,
                            "columns": [{
                                    "data": "title",
                                    "title": "ชื่อหนังสือ",
                                    "sWidth": '90%'
                                },
                            ],
                            "aoColumnDefs": [{
                                "aTargets": [1],
                                "mData": "date",
                                "sTitle": "วันที่เผยแพร่",
                                "sWidth": '15%',
                                "sType" : 'date-euro',
                                displayFormat: 'DD/MM/YYYY',
                                "mRender": function (data, type, full) {
                                    return moment(data).format('DD/MM/YYYY');;
                                }
                            },{
                                "aTargets": [2],
                                "mData": "_id",
                                "sTitle": "Delete",
                                "sWidth": '10%',
                                "mRender": function (data, type, full) {
                                    return '<button class="btn btn-danger mx-3 deletebtn" data="'+data+'">Delete</button>';
                                }
                            }]
                        });
                    }
                );
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $('.deletebtn').click(function(){
                        var x = $(this).attr('data');
                        $.ajax({
                            url: `/publication/${x}/delete`,
                            type: 'delete',
                            processData: false,
                            contentType: false,
                            success: function () {
                                location.reload();
                            },
                        });
                    })
                }, 1000);
            });
        </script>
    </div>

</body>

</html>