<%- include('../header') %>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/assets/css/tagsinput.css">
<link rel="stylesheet" href="/assets/css/resize.css">
<style>
    #editorcontainer {
	height: 500px;
}
.ql-container{
    height: 90%;
}
.ql-toolbar{
    height: 10%;
}
</style>
</head>

<body>
    <%- include('../navbar') %>
    <div style="background-color: #E8E8EE;">
        <div class="container">
            <div class="cloud py-4">
                <h2>สร้างอีเว้นท์</h2>
                <p>Events</p>
            </div>
            <div>
                <form action="/articles/create" method="POST" enctype="multipart/form-data" id="create">
                    <div class="form-group">
                        <label for="title">ชื่ออีเว้นท์</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="desc">รายละเอียดย่อ</label>
                        <input type="text" class="form-control" id="desc" name="desc" >
                    </div>
                    <div class="form-group">
                        <label for="author">ผู้เขียน</label>
                        <input type="text" class="form-control" id="author" name="author" >
                    </div>
                    <div class="form-group">
                        <label for="body">เนื้อหาอีเว้นท์</label>
                        <div style="background-color: #fff;" id="editorcontainer">
                            <div class="mx-auto" id="editor"></div>
                        </div>

                        <input type="hidden" class="form-control" id="body" name="body" required>
                    </div>
                    <div class="form-row">
                        <div class="col date" data-provide="datepicker" id="datetimePicker">
                            <label for="date">วันที่</label>
                            <input type="text" class="form-control" id="date" name="date" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <div class="col">
                            <label for="files">รูปภาพหน้าปกอีเว้นท์ (อัตราส่วนแนะนำ - 16:9, 7:5, 9:16, 5:7)</label>
                            <input type="file" class="form-control-file" id="files" name="files" accept="image/*" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="tag">แท็ก</label>
                        <input type="text" class="form-control" id="tag" name="tag"  data-role="tagsinput" >
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    <div class="alert alert-success mt-3" role="alert" id="Formsuccess" style="display: none;">
                    </div>
                    <div class="alert alert-primary mt-3" role="alert" id="FormUploading" style="display: none;"></div>
                    <div class="alert alert-danger mt-3" role="alert" id="FormFailed" style="display: none;"></div>
                </form>
            </div>


        </div>
        <!-- Optional JavaScript -->
        <%- include('../footer') %>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
        </script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="/assets/js/quill.imageUploader.min.js"></script>
        <script src="/assets/js/moment.js"></script>    
        <script src="/assets/js/resize.js"></script>
        <script src="/assets/js/tagsinput.js"></script>
		<script src="/assets/js/quill.htmlEditButton.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            var Size = Quill.import('attributors/style/size');
            Size.whitelist = ['8px','9px','10px','11px','12px','13px','14px', '16px','18px','20px','24px','26px','28px','30px','36px','48px','60px','72px','96px'];
            Quill.register(Size, true);

            let Font = Quill.import('formats/font');
            Font.whitelist = ['Sarabun', 'Roboto', 'arial', 'Cloud'];
            Quill.register(Font, true);

            var toolbarOptions = [
				['bold', 'italic', 'underline', 'strike'], // toggled buttons
                [{font: ['Sarabun', 'Roboto', 'arial', 'Cloud']}],
				['blockquote'],
				[{ list: 'ordered' }, { list: 'bullet' }],
				[{ script: 'sub' }, { script: 'super' }], // superscript/subscript
				[{ indent: '-1' }, { indent: '+1' }], // outdent/indent

				[{ size: ['8px','9px','10px','11px','12px','13px','14px', '16px','18px','20px','24px','26px','28px','30px','36px','48px','60px','72px','96px'] }], // custom dropdown

				[{ color: [] }, { background: [] }], // dropdown with defaults from theme
				[{ align: [] }],
				['video'],
				['image'],

				['clean'], // remove formatting button
			];
			Quill.register('modules/htmlEditButton', htmlEditButton);
            Quill.register("modules/imageUploader", ImageUploader);
            var editor = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions,
                    resize: {},
                    htmlEditButton: {},
                    imageUploader: {
                        upload: file => {
                            return new Promise((resolve, reject) => {
                                const formData = new FormData();
                                formData.append("files", file);

                                fetch(
                                        "/upload/quill", {
                                            method: "POST",
                                            body: formData
                                        }
                                    )
                                    .then(response => response.json())
                                    .then(result => {
                                        resolve('/upload/' + result);
                                    })
                                    .catch(error => {
                                        reject("Upload failed");
                                        console.error("Error:", error);
                                    });
                            });
                        }
                    },
                },
                theme: 'snow',
            });
            editor.on('text-change', function () {
                var justHtml = editor.root.innerHTML;
                $("#body").val(justHtml);
            });
            $(function () {
                customSpan = document.createElement("span");
                customSpan.classList.add("ql-formats");

                customButton = document.createElement("button");
                customButton.innerHTML = 'A⁺';
                customButton.id="fontIncreaseSize";
                customButton2 = document.createElement("button");
                customButton2.innerHTML = 'A⁻';
                customButton2.id="fontDecreaseSize";

                customSpan.append(customButton);
                customSpan.append(customButton2);
                $('.ql-toolbar').append(customSpan);
                customButton.addEventListener('click', function() {
                    var selected = editor.getFormat();
                    size = ['8px','9px','10px','11px','12px','13px','14px', '16px','18px','20px','24px','26px','28px','30px','36px','48px','60px','72px','96px']
                    var currentIndex = (selected['size'] == null)? 5 :size.indexOf(selected['size']);
                    if(currentIndex < (size.length-1)){
                        editor.format('size',size[currentIndex+1]);
                    }
                });
                customButton2.addEventListener('click', function() {
                    var selected = editor.getFormat();
                    size = ['8px','9px','10px','11px','12px','13px','14px', '16px','18px','20px','24px','26px','28px','30px','36px','48px','60px','72px','96px']
                    var currentIndex = (selected['size'] == null)? 5 :size.indexOf(selected['size']);
                    if(currentIndex > 0){
                        editor.format('size',size[currentIndex-1]);
                    }
                });

            })
            $('#create').submit(function (e) {
                e.preventDefault();
                $("#tag").val($("#tag").tagsinput('items'));
                $('#FormUploading').html('Uploading').fadeIn('slow');
                $.ajax({
                    url: '/events/create',
                    type: 'post',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function () {
                        $('#FormUploading').delay(50).fadeOut('slow');
                        $('#Formsuccess').html('Success').fadeIn('slow');
                        $('#Formsuccess').delay(1000).fadeOut('slow');
                        $('#Formsuccess').delay(1100).queue(function() {
                            location.reload();
                            $(this).dequeue();
                        });
                    },
                    error: function () {
                        $('#FormUploading').delay(50).fadeOut('slow');
                        $('#FormFailed').html('Error. Please try again.').fadeIn('slow');
                        $('#FormFailed').delay(2000).queue(function() {
                            location.reload();
                            $(this).dequeue();
                        });
                    }
                });
            });
        </script>
        <hr>
    </div>
    <div class="container">
        <div class="cloud my-4">
            <h2>แก้ไขอีเว้นท์</h2>
        </div>
        <table id="editTable">

        </table>
        <script src="/assets/js/jsrsasign-all-min.js"></script>
        <script src="/assets/js/server-side-ga-auth.js"></script>
        <script src="/assets/js/date-euro.js"></script>

        <script>
            $(function () {
                $('#datetimePicker').datepicker({
                    format: 'dd/mm/yyyy',
                });
            });
            $(document).ready(function () {
                $.post(
                    '/events/api', {
                        query: '',
                        sortParams: '-date',
                        skip: 0,
                        limit: 0,
                    },
                    function (data, status) {
                        $("#editTable").dataTable({
                            "data": data,
                            "columns": [{
                                    "data": "title",
                                    "title": "ชื่ออีเว้นท์",
                                    "sWidth": '55%'
                                }
                            ],
                            "aoColumnDefs": [{
                                "aTargets": [1],
                                "mData": "date",
                                "sTitle": "วันที่เผยแพร่",
                                "sWidth": '15%',
                                "sType" : 'date-euro',
                                "mRender": function (data, type, full) {
                                    return moment(data).format('DD/MM/YYYY');
                                }
                            },{
                                "aTargets": [2],
                                "mData": "_id",
                                "sTitle": "Edit/Delete",
                                "sWidth": '20%',
                                "mRender": function (data, type, full) {
                                    return '<a class="btn btn-primary mx-3" href="/admin/event/' +
                                        data +
                                        '/edit">Edit</a><button class="btn btn-danger mx-3 deletebtn" data="'+data+'">Delete</button>';
                                }
                            },{
                                "aTargets": [3],
                                "mData": "_id",
                                "sTitle": "View Count",
                                "sWidth": '10%',
                                "mRender": function (data, type, full) {
                                    return '<div class="container text-center" data="'+data+'">-</div';
                                }
                            }]
                        });
                    }
                );
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $('.deletebtn').click(function(){
                        var x = $(this).attr('data');
                        $.ajax({
                            url: `/events/${x}/delete`,
                            type: 'delete',
                            processData: false,
                            contentType: false,
                            success: function () {
                                location.reload();
                            },
                        });
                    })
                }, 1000);
                $("#editTable").on('page.dt', function () {
                    report.execute();
                } );
            });
            gapi.analytics.ready(function(){
                gapi.analytics.auth.authorize({
                    'serverAuth': {
                    'access_token': token
                    }
                });
                var report = new gapi.analytics.report.Data({
                    query: {
                        ids: 'ga:229896727',
                        metrics: 'ga:pageviews',
                        dimensions: 'ga:pagePath',
                    }
                });

                report.on('success', function(rs) {
                    console.log('Data loaded');
                    rs.rows.forEach(el => {
                        if(el[0].includes('events')){
                            $(`div[data|='${el[0].split('/')[2]}']`).html(`${el[1]}`)
                        }
                    })
                });
                window.report = report;
                report.execute();
            })
        </script>
    </div>

</body>

</html>