<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= (title)?title:'No Title Assigned' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="main.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../assets/css/style.css"
    />
    <link
      rel="icon"
      href="../assets/images/project logo ใส.png"
      type="image/png"
      sizes="2550x3300"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Prompt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <link
		href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic"
		rel="stylesheet" type="text/css" />
    <!-- #Nav -->
    <%- include('./navbar.ejs') %>
    <!-- #EndNav -->

