<%- include('header') %>
</head>

<body>
	<!-- Start Here -->
	<%- include('navbar') %>
	<!-- End Here -->
	<section>
		<div class="container">
			<div class="text-center m-5 cloud">
				<p style="font-size: 1.5em;">คลิ๊กแทปด้านบนเพื่อเลือกประเภทบทความ</h4>
			</div>
		</div>
	</section>
	<!-- Optional JavaScript -->
	<%- include('footer') %>
</body>

</html>