<%- include('header') %>
</head>

<body>
	<!-- Start Here -->
	<%- include('navbar') %>
	<!-- End Here -->
	<section>
		<div class="container">
			<div class="container">
				<canvas id="users"></canvas>
			</div>
			<div id="chart-2-container"></div>
		</div>
	</section>
	<%- include('footer') %>
	<script src="/assets/js/moment.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<script src="/assets/js/jsrsasign-all-min.js"></script>
	<script src="/assets/js/server-side-ga-auth.js"></script>
	<script>
		gapi.analytics.ready(function() {

		/**
		 * Authorize the user with an access token obtained server side.
		 */
		gapi.analytics.auth.authorize({
			'serverAuth': {
			'access_token': token
			}
		});
		var report1 = new gapi.analytics.report.Data({
			query: {
			'ids': 'ga:222944204', // <-- Replace with the ids value for your view.
			'start-date': '30daysAgo',
			'end-date': 'today',
			'metrics': 'ga:sessions,ga:users',
			'dimensions': 'ga:date'
			}
		});
		report1.on('success', function(response) {
			var sessions = new Array();
			var users = new Array();
			response.rows.forEach(element => {
				sessions.push({x: moment(element[0],'YYYYMMDD').toDate(),y: element[1]})
				users.push({x: moment(element[0],'YYYYMMDD').toDate(),y: element[2]})
			});
			var color = Chart.helpers.color;
			var config = {
				type: 'line',
				data: {
					datasets: [{
						label: 'จำนวนเข้าชม',
						backgroundColor: color('rgb(255, 99, 132)').alpha(0.5).rgbString(),
						borderColor: 'rgb(255, 99, 132)',
						fill: false,
						data: sessions,
						fontSize: 16
					},{
						label: 'จำนวนผู้เข้าชม',
						backgroundColor: color('rgb(54, 162, 235)').alpha(0.5).rgbString(),
						borderColor: 'rgb(54, 162, 235)',
						fill: false,
						data: users,
						fontSize: 16
					}]
				},
				options: {
					responsive: true,
					title: {
						display: true,
						text: 'สถิติผู้เข้าชมย้อนหลัง 30 วัน',
						fontSize: 24
					},
					scales: {
						xAxes: [{
							type: 'time',
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'วันที่',
								fontSize: 16
							},
							ticks: {
								major: {
									fontStyle: 'bold',
									fontColor: '#FF0000'
								}
							},
							distribution: 'series',
							time: {
								tooltipFormat:'DD/MM/YYYY'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'จำนวน',
								fontSize: 16
							}
						}]
					}
				}
			}
			new Chart(document.getElementById('users').getContext('2d'), config);
		});
		report1.execute();
		var dataChart2 = new gapi.analytics.googleCharts.DataChart({
			query: {
			'ids': 'ga:222944204', // <-- Replace with the ids value for your view.
			'start-date': '30daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:pageviews',
			'dimensions': 'ga:pagePath',
			'sort': '-ga:pageviews',
			'filters': 'ga:pagePathLevel1!=/',
			'max-results': 7
			},
			chart: {
			'container': 'chart-2-container',
			'type': 'BAR',
			'options': {
				'width': '100%',
				'pieHole': 4/9,
			}
			}
		});
		dataChart2.execute();
		});
	</script>
</body>