<%- include('header') %>
</head>

<body>
	<!-- Start Here -->
	<%- include('navbar') %>
	<!-- End Here -->
	<section>
		<div class="container">
			<div class="text-center m-5 cloud">
				<p style="font-size: 1.5em;">คลิ๊กแทปด้านบนเพื่อเลือกประเภทบทความ</h4>
			</div>
		</div>
	</section>
	<div class="container">
		<div id="chart-1-container"></div>
		<div id="chart-2-container"></div>
	</div>
	<%- include('footer') %>
	<script src="/assets/js/jsrsasign-all-min.js"></script>
	<script src="/assets/js/server-side-ga-auth.js"></script>
	<script>
		gapi.analytics.ready(function() {

		/**
		 * Authorize the user with an access token obtained server side.
		 */
		gapi.analytics.auth.authorize({
			'serverAuth': {
			'access_token': token
			}
		});


		/**
		 * Creates a new DataChart instance showing sessions over the past 30 days.
		 * It will be rendered inside an element with the id "chart-1-container".
		 */
		var dataChart1 = new gapi.analytics.googleCharts.DataChart({
			query: {
			'ids': 'ga:222944204', // <-- Replace with the ids value for your view.
			'start-date': '7daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:sessions,ga:users',
			'dimensions': 'ga:date'
			},
			chart: {
			'container': 'chart-1-container',
			'type': 'LINE',
			'options': {
				'width': '100%'
			}
			}
		});
		dataChart1.execute();

		var report = new gapi.analytics.report.Data({
			query: {
				ids: 'ga:222944204',
				metrics: 'ga:pageviews',
				dimensions: 'ga:pagePath',
			}
		});

		report.on('success', function(response) {
		console.log(response.rows);
		});

		report.execute();


		/**
		 * Creates a new DataChart instance showing top 5 most popular demos/tools
		 * amongst returning users only.
		 * It will be rendered inside an element with the id "chart-3-container".
		 */
		var dataChart2 = new gapi.analytics.googleCharts.DataChart({
			query: {
			'ids': 'ga:222944204', // <-- Replace with the ids value for your view.
			'start-date': '30daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:pageviews',
			'dimensions': 'ga:pagePath',
			'sort': '-ga:pageviews',
			'filters': 'ga:pagePathLevel1!=/',
			'max-results': 7
			},
			chart: {
			'container': 'chart-2-container',
			'type': 'BAR',
			'options': {
				'width': '100%',
				'pieHole': 4/9,
			}
			}
		});
		dataChart2.execute();

		});
	</script>
</body>