<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/admin">
		<img src="/assets/images/project logo ใส.png" style="height: 3em;" />
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNavDropdown"
		aria-controls="navbarNavDropdown"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/admin/article">Article</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/event">Events</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/media">Multimedia</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/book">Publication</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/news">News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/research">Research</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/carousel">Carousel</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/" target="_blank"
					>กลับสู่หน้าเว็บไซต์</a
				>
			</li>
		</ul>
	</div>
	<form class="form-inline" action="/logout" method="POST">
		<button type="submit" class="btn btn-danger my-2 my-sm-0">
			Logout
		</button>
	</form>
</nav>
